$red : #ff0000;
$blue: #337ab7;
$primary-color: #26a7f1;
$require-color: #d43f3a;
$p-dark: #333333;
$s-dark: #252525;
$primary-light-color: #008cc9;
$primary-font-color: #333333 !important;
$gray-light : rgba(0,0,0,.50);
$gray-light-s : #eee;



/**
 *  variables for colors
 */
$trans: transparent;
$black: #000000;
$white: #FFFFFF;
$gray: #808080;
$yellow: #FFFF00;
$dusty-gray: #9B9B9B;
$dusty-gray-2: #979797;
$dove-gray: #666666;
$athens-gray: #F4F4F4;
$athens-gray-2: #F8F9FA;
$ripe-lemon: #F8E71C;
$mystic: #D6E3E9;
$yellow-green: #B8E986;
$kimberly: #666699;
$scampi: #5E64A6;
$studio: #9B45AD;
$mariner: #2677D4;
$hot-toddy: #C17C0A;
$eastern-blue: #229F9B;
$turquoise: #50E3C2;
$tolopea: #1E0548;
$alto: #D8D8D8;
$lightgreen: #90EE90;
$eucalyptus: #28A745;
$shark: #292A2E;
$pelorous: #37A9BA;
$lima: #8EC91B;
$baltic-sea: #2A2634;
$tuna: #35313E;
$fun-blue: #1955B3;
$tory-blue: #14448F;
$river-bed: #454E5A;
$bali-hai: #8FA5B5;
$emperor: #535353;
$silver: #C2C1C1;
$mine-shaft: #363636;
$galary: #EFEFEF;
$azure-radiance: #007BFF;
$endeavour: #0056B3;
$nobel: #B5B5B5;
$wedgewood: #437499;
