<div ng-if="g.isShowHeader" data-ng-include="'/angular/views/includes/ib-header.html'"></div>

<div class="container modal-create-board mt-100 ib-change-profile" ng-controller="UserController" data-ng-init="userProfileObj.init()">
		          		
  	<form name="cpForm" ng-submit="uo.cp.submit(cpForm)" novalidate>
		
		<h4 class="modal-title text-center mt-50 mb-50">Change Password</h4>

  		<div class="row">


  			<div class="col-md-12 mb-10">
			    <div class="form-group cr-board-name">
			      	<label>Old Password </label>
					<span class="text-red pull-right" data-ng-show="uo.cp.isSubmited && cpForm.userOldPassword.$error.required">Required</span>
			      	<input type="password" class="form-control ic-input" name="userOldPassword" ng-model="uo.cp.model.userOldPassword" ng-required="true" maxlength="25">
			    </div>
			</div>

			<div class="col-md-12 mb-10">
			    <div class="form-group cr-board-name">
			      	<label>New Password </label>
					<span class="text-red pull-right" data-ng-show="uo.cp.isSubmited && cpForm.userNewPassword.$error.required">Required</span>
					<span class="text-red pull-right" data-ng-show="uo.cp.isSubmited && cpForm.userNewPassword.$error.minlength">Password too short (Minimum 8 char)</span>
                	<span class="text-red pull-right" data-ng-show="uo.cp.isSubmited && cpForm.userNewPassword.$error.pattern && !cpForm.userNewPassword.$error.minlength">At least one letter or digit character</span>
			      	<input type="password" class="form-control ic-input" name="userNewPassword" ng-model="uo.cp.model.userNewPassword" ng-required="true" minlength="8" maxlength="20" ng-pattern="/^(?=.*[0-9])(?=.*[a-zA-Z])([a-zA-Z0-9$@$!%*#?&]+)$/">
			    </div>
			</div>

			<div class="col-md-12 mb-10">
			    <div class="form-group cr-board-name">
			      	<label>Confirm Password </label>
					<span class="text-red pull-right" data-ng-show="uo.cp.isSubmited && cpForm.userConfirmPassword.$error.required">Required</span>
					<span class="text-red pull-right" data-ng-show="uo.cp.isSubmited && cpForm.userConfirmPassword.$error.minlength">Password too short (Minimum 8 char)</span>
                	<span class="text-red pull-right" data-ng-show="uo.cp.isSubmited && cpForm.userConfirmPassword.$error.pattern && !cpForm.userConfirmPassword.$error.minlength">At least one letter or digit character</span>
			      	<input type="password" class="form-control ic-input" name="userConfirmPassword" ng-model="uo.cp.model.userConfirmPassword" ng-required="true" minlength="8" maxlength="20" ng-pattern="/^(?=.*[0-9])(?=.*[a-zA-Z])([a-zA-Z0-9$@$!%*#?&]+)$/">
			    </div>
			</div>

			<div class="col-md-12 text-center mt-25">
				<div ng-if="!userPassword.isSubmitReq">
		    		<button type="submit" class="btn btn-primary btn-block ic-primary-light-btn" data-ng-disabled="isChangePasswordBtnDisabled" data-ng-model="isChangePasswordBtnDisabled">Change</button>
		    	</div>
		    </div>

		    <div class="col-md-12 text-right mt-25">
				<div>
		    		<a href="#!/change-profile">My Profile</a>
		    	</div>
		    </div>

	    </div>
	</form>

</div>

