<div data-ng-controller="UserController" class="public-form-container">
    <div class="creaditienl-boxes">
        <form ng-submit="uo.rp.submit(resetPassForm)" name="resetPassForm" class="ic-form form-horizontal" novalidate>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="fa fa-lock icon-lock"></span>
                    </span>
                    <input type="password" autocomplete="off"  class="form-control input-lg" placeholder="New Password" name="userPassword" ng-model="uo.rp.model.password" data-ng-required="true" minlength="8" maxlength="20" ng-pattern="/^(?=.*[0-9])(?=.*[a-zA-Z])([a-zA-Z0-9$@$!%*#?&]+)$/">
                </div>
                <span class="text-red pull-right" data-ng-show="uo.rp.isSubmited && resetPassForm.userPassword.$error.required">New password is required</span>
                <span class="text-red pull-right" data-ng-show="uo.rp.isSubmited && resetPassForm.userPassword.$error.minlength">New password too short (Minimum 8 char)</span>
                <span class="text-red pull-right" data-ng-show="uo.rp.isSubmited && resetPassForm.userPassword.$error.pattern && !resetPassForm.userPassword.$error.minlength">Passwords must have at least one letter or digit character</span>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="fa fa-lock icon-lock"></span>
                    </span>
                    <input type="password" autocomplete="off"  class="form-control input-lg" placeholder="Confirm Password" name="confirmPassword" ng-model="uo.rp.model.confirmPassword" data-ng-required="true" minlength="8" maxlength="20" ng-pattern="/^(?=.*[0-9])(?=.*[a-zA-Z])([a-zA-Z0-9$@$!%*#?&]+)$/">
                </div>
                <span class="text-red pull-right" data-ng-show="uo.rp.isSubmited && resetPassForm.confirmPassword.$error.required">Confirm password is required</span>
                <span class="text-red pull-right" data-ng-show="uo.rp.isSubmited && resetPassForm.confirmPassword.$error.minlength">Confirm password too short (Minimum 8 char)</span>
                <span class="text-red pull-right" data-ng-show="uo.rp.isSubmited && resetPassForm.confirmPassword.$error.pattern && !resetPassForm.confirmPassword.$error.minlength">Passwords must have at least one letter or digit character</span>
            </div>
             <div class="divider divider-lg"></div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg btn-block text-center ic-primary-btn" data-ng-disabled="uo.rp.isSentReq">Save</button>
            </div>
        </form>
    </div>
</div>