<div class="category-page">



	<!-- start banner Area -->
	<section class="banner-area relative" id="home">	
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<h1 class="text-white">
						Job category				
					</h1>	
					<p class="text-white link-nav"><a href="#!/home">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="#!/category"> Job category</a></p>
				</div>											
			</div>
		</div>
	</section>
	<!-- End banner Area -->	
	
	<!-- Start post Area -->
	<section class="post-area section-gap">
		<div class="container">
			<div class="row justify-content-center d-flex">
				<div class="col-lg-8 post-list">
					<div class="single-post d-flex flex-row">
						<div class="thumb">
							<img src="img/post.png" alt="">
							<ul class="tags">
								<li>
									<a href="#">Art</a>
								</li>
								<li>
									<a href="#">Media</a>
								</li>
								<li>
									<a href="#">Design</a>					
								</li>
							</ul>
						</div>
						<div class="details">
							<div class="title d-flex flex-row justify-content-between">
								<div class="titles">
									<a href="single.html"><h4>Creative Art Designer</h4></a>
									<h6>Premium Labels Limited</h6>					
								</div>
								<ul class="btns">
									<li><a href="#">Apply</a></li>
								</ul>
							</div>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut dolore magna aliqua.
							</p>
							<h5>Job Nature: Full time</h5>
							<p class="address"><span class="lnr lnr-map"></span> 56/8, Panthapath Dhanmondi Dhaka</p>
							<p class="address"><span class="lnr lnr-database"></span> 15k - 25k</p>
						</div>
					</div>
					<div class="single-post d-flex flex-row">
						<div class="thumb">
							<img src="img/post.png" alt="">
							<ul class="tags">
								<li>
									<a href="#">Art</a>
								</li>
								<li>
									<a href="#">Media</a>
								</li>
								<li>
									<a href="#">Design</a>					
								</li>
							</ul>
						</div>
						<div class="details">
							<div class="title d-flex flex-row justify-content-between">
								<div class="titles">
									<a href="single.html"><h4>Creative Art Designer</h4></a>
									<h6>Premium Labels Limited</h6>					
								</div>
								<ul class="btns">
									<li><a href="#">Apply</a></li>
								</ul>
							</div>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut dolore magna aliqua.
							</p>
							<h5>Job Nature: Full time</h5>
							<p class="address"><span class="lnr lnr-map"></span> 56/8, Panthapath Dhanmondi Dhaka</p>
							<p class="address"><span class="lnr lnr-database"></span> 15k - 25k</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 sidebar">
					<div class="single-slidebar">
						<h4>Jobs by Location</h4>
						<ul class="cat-list">
							<li><a class="justify-content-between d-flex" href="#!/category"><p>New York</p><span>37</span></a></li>
							<li><a class="justify-content-between d-flex" href="#!/category"><p>Park Montana</p><span>57</span></a></li>
							<li><a class="justify-content-between d-flex" href="#!/category"><p>Atlanta</p><span>33</span></a></li>
							<li><a class="justify-content-between d-flex" href="#!/category"><p>Arizona</p><span>36</span></a></li>
							<li><a class="justify-content-between d-flex" href="#!/category"><p>Florida</p><span>47</span></a></li>
							<li><a class="justify-content-between d-flex" href="#!/category"><p>Rocky Beach</p><span>27</span></a></li>
							<li><a class="justify-content-between d-flex" href="#!/category"><p>Chicago</p><span>17</span></a></li>
						</ul>
					</div>

					<div class="single-slidebar">
						<h4>Top rated job posts</h4>
						<div class="active-relatedjob-carusel">
							<div class="single-rated">
								<img class="img-fluid" src="img/r1.jpg" alt="">
								<a href="single.html"><h4>Creative Art Designer</h4></a>
								<h6>Premium Labels Limited</h6>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut dolore magna aliqua.
								</p>
								<h5>Job Nature: Full time</h5>
								<p class="address"><span class="lnr lnr-map"></span> 56/8, Panthapath Dhanmondi Dhaka</p>
								<p class="address"><span class="lnr lnr-database"></span> 15k - 25k</p>
							</div>
							<div class="single-rated">
								<img class="img-fluid" src="img/r1.jpg" alt="">
								<a href="single.html"><h4>Creative Art Designer</h4></a>
								<h6>Premium Labels Limited</h6>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut dolore magna aliqua.
								</p>
								<h5>Job Nature: Full time</h5>
								<p class="address"><span class="lnr lnr-map"></span> 56/8, Panthapath Dhanmondi Dhaka</p>
								<p class="address"><span class="lnr lnr-database"></span> 15k - 25k</p>
							</div>
							<div class="single-rated">
								<img class="img-fluid" src="img/r1.jpg" alt="">
								<a href="single.html"><h4>Creative Art Designer</h4></a>
								<h6>Premium Labels Limited</h6>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut dolore magna aliqua.
								</p>
								<h5>Job Nature: Full time</h5>
								<p class="address"><span class="lnr lnr-map"></span> 56/8, Panthapath Dhanmondi Dhaka</p>
								<p class="address"><span class="lnr lnr-database"></span> 15k - 25k</p>
							</div>																		
						</div>
					</div>							

				</div>
			</div>
		</div>	
	</section>
	<!-- End post Area -->

	<!-- Start callto-action Area -->
	<div data-ng-include="'/angular/views/includes/Join-us-content.html'"></div>

</div>


<script type="text/javascript">

	$( document ).ready(function() {

	    setTimeout(function() {

		    $('.active-relatedjob-carusel').owlCarousel({
		        items:1,
		        autoplay:true,
		        loop:true,
		        margin:30,
		        dots: true
		    });
	    }, 500);
	});
</script>



